@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: black;
}

.slider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 12.5s infinite;
}

.slider .slide:nth-child(1) {
  background-image: url("../assets/sliderimg1.png");
  animation-delay: 0s;
}

.slider .slide:nth-child(2) {
  background-image: url("../assets/sliderimg2.jpg");
  animation-delay: -2.5s;
}

.slider .slide:nth-child(3) {
  background-image: url("../assets/sliderimg3.jpg");
  animation-delay: -5s;
}

.slider .slide:nth-child(4) {
  background-image: url("../assets/sliderimg4.jpg");
  animation-delay: -7.5s;
}

.slider .slide:nth-child(5) {
  background-image: url("../assets/sliderimg5.jpg");
  animation-delay: -10s;
}

@keyframes slider {
  0%,
  16%,
  100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  96% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.dark-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Adjust the last value to control transparency */
}

.swiper-pagination-bullet-active {
  background: wheat !important;
}
